@model Assignment9.Controllers.LOLPlayerWithDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details For @Html.DisplayFor(model => model.FirstName), @Html.DisplayFor(model => model.LastName)</h2>

<div>
    <h4>More Details Here</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOLTeamCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOLTeamCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InGameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InGameName)
        </dd>

        <dt>
            Player Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName), @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            Team Information
        </dt>

        <dd>
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-striped">
                                <tr>
                                    <td>Team Name</td>
                                    <td><font color="green">@Model.LOLTeam.Name</font></td>
                                </tr>
                                <tr>
                                    <td>Coach</td>
                                    <td><font color="green">@Model.LOLTeam.CoachFirstName @Model.LOLTeam.CoachLastName</font></td>
                                </tr>
                                <tr>
                                    <td>Logo</td>
                                    <td><img border="0" alt="Logo" src=@Html.DisplayFor(model => model.LOLTeam.Logo) width="100" height="100" /></td>
                                </tr>
                        </table>
                    </div>
                </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
